		<article>
			<section>
				<h2>Gruppe A</h2>
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Team</th>
						<th>Spiele</th>
						<th>Sätze</th>
						<th>Punkte</th>
					</tr>
					<tr>
						<td>1.</td>
						<td>Christian Weyermann &amp; Mario Fischer</td>
						<td>4:0</td>
						<td>4:1</td>
						<td>133:94</td>
					</tr>
					<tr>
						<td>2.</td>
						<td>Christian Weyermann &amp; Mario Fischer</td>
						<td>4:0</td>
						<td>4:1</td>
						<td>133:94</td>
					</tr>
					<tr>
						<td>3.</td>
						<td>Christian Weyermann &amp; Mario Fischer</td>
						<td>4:0</td>
						<td>4:1</td>
						<td>133:94</td>
					</tr>
				</table>
			</section>
			<a class="btn collapsed" data-toggle="collapse"
				data-target="#allgames" aria-expanded="true">&raquo; Alle Spiele
			</a>
			<section id="allgames" class="collapse" aria-expanded="false">
				<table class="table table-striped">
					<tr>
						<th>Spiel</th>
						<th>Ergebnis</th>
					</tr>
					<tr>
						<td>Christian Weyermann &amp; Mario Fischer - Lee Chong Wei
							&amp; Lin Dan</td>
						<td>21:19 19:21 22:20</td>
					</tr>
				</table>
			</section>
		</article>