<h1>Willkommen bei der Zirndorfer SMS!</h1>
<p>
	Herzlich willkommen bei der diesjährigen Zirndorfer SMS. Wir freuen uns
	dich dabei zu haben. Ein Hinweis noch, diese App befindet sich noch im
	Beta Status. Bitte habe also Verständnis, wenn nicht alles direkt
	funktioniert. Falls es Probleme, du Verbesserungsvorschläge hast oder
	du uns einfach für das tolle Turnier loben willst :) wende dich bitte
	an <a href="mailto:zirndorf_rocks@cweyermann.de">zirndorf_rocks@cweyermann.de</a>
</p>
<p>Viel Spaß!</p>

