
<nav class="navbar navbar-inverse" data-spy="affix">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				(click)="toggleCollapse()" aria-expanded="false">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/welcome"
				(click)="toggleCollapse()" aria-expanded="false">Zirndorfer SMS</a>
		</div>
		<div class="navbar-collapse" id="myNavbar"
			[class.collapse]="isCollapsed">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="">Disziplinen<span class="caret"></span></a>
					<ul class="dropdown-menu" (click)="toggleCollapse()"
						aria-expanded="false">
						<li *ngFor='let x of disciplines.idNames'><a class='kinda-link' (click)="changeRoute(x.id)">{{x.name}}</a></li>
					</ul></li>
				<li><a routerLink="/matches" (click)="toggleCollapse()"
					aria-expanded="false">Spielplan</a></li>
				<li><a routerLink="/clubs" (click)="toggleCollapse()"
					aria-expanded="false">Vereinswertung</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<router-outlet></router-outlet>
</div>