
<table class="table table-striped">
	<tr>
		<th>#</th>
		<th>Verein</th>
		<th>Punkte</th>
	</tr>

	<tr *ngFor='let x of standings.standings'>
		<td>{{x.position}}.</td>
		<td>{{x.clubName}}</td>
		<td>{{x.points}}</td>
	</tr>
</table>

<p>Es werden nur Vereine angezeigt, die bereits Punkte haben. Der
	Berechnung liegt folgende Punkteverteilung zu Grunde: </p>

<table class="table">
	<tr>
		<td>1.Platz</td>
		<td>10</td>
	</tr>
	<tr>
		<td>2.Platz</td>
		<td>6</td>
	</tr>
	<tr>
		<td>3.Platz</td>
		<td>4</td>
	</tr>
	<tr>
		<td>4.Platz</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Sieger Trostrunde</td>
		<td>1</td>
	</tr>
</table>

<p>Die Punkte werden anteilig vergeben, wenn beide Spieler nicht für
	den selben Verein antreten.</p>
<p>
	<b>Bei Gleichstand entscheidet die Turnierleitung!</b>
</p>